<!-- ---------------------------------------------- -->
<!-- @author: Kowndinya Boyalakuntla <cs17b032@iittp.ac.in> -->
<!-- @date: 05/12/2020 -->
<!-- ---------------------------------------------- -->
<!DOCTYPE html>
<html>

<head>
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://kowndinya2000.github.io/header-logo.github.io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://kowndinya2000.github.io/header-logo.github.io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://kowndinya2000.github.io/header-logo.github.io/favicon-16x16.png">
    <link rel="manifest" href="https://kowndinya2000.github.io/header-logo.github.io/site.webmanifest">
    <title>Loading Annotations... | Annotator</title>
</head>

<body>
    <a href="/profile" id="nxt" style="display: none;">
        next
    </a>
    <script>
        setTimeout(() => {
            document.getElementById('nxt').click()
        }, 800);
    </script>
    <iframe src="https://kowndinya2000.github.io/profile-auto-annotator.github.io/" frameborder="0"
        style="width: 100%;height: 40rem;"></iframe>
</body>

</html>